body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #searchInput {
    width: 90%;
    padding: 8px;
    margin: 10px;
    font-size: 14px;
  }
  
  #tabTree {
    font-family: Arial, sans-serif;
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
  }
  
  .tree-item {
    margin-left: 20px;
    margin-bottom: 5px;
  }
  
  .tree-item a {
    color: #0074D9;
    text-decoration: none;
  }
  
  .tree-item a:hover {
    text-decoration: underline;
  }
  